@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica EMS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Profesores</h2>
        <p>
            <img src="https://imageshack.com/i/pntEOFsTj"
                    width="300" height="300"/>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestión de Alumnos</h2>
        <p>
            <img src="https://imageshack.com/i/pl5BCq1yj"
                 width="300" height="300" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestión Evaluaciones</h2>
        <p>
            <img src="https://imageshack.com/i/pmvDs1sVj"
                 width="300" height="300" />
        </p>
    </div>
</div>